/* Star Selector (Selects every element in the HTML file) */
* {
    /* Includes the padding and border when setting a width or height for an element */
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(90deg, rgba(66, 66, 225, 0.913), rgb(233, 72, 88));
    color: #eef1ef;
    font-family: 'Open Sans', sans-serif;
    /* Flexbox is used here to center the div with the id of "container" vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Setting the height to 100vh so the div will be centered vertically in browser window (AKA Viewport) */
    height: 100vh;
    /* Adding padding to the body element so the div container is NOT right up against the edge of the viewport on smaller screen sizes */
    padding: 25px;
  }
  
  h2 {
    /* Top Right/Left Bottom */
    margin: 10px 0 20px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .btn {
    background-color: #6495ed;
    /* Removes the default button border */
    border: none;
    /* Buttons do NOT inherit text color. Must apply a new text color directly to the element. */
    color: #eef1ef;
    /* Changes the cursor when hovering over a button */
    cursor: pointer;
    padding: 8px 12px;
  }
  
  .option {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }
  
  #container {
    background-color: rgb(92, 48, 134);
    padding: 15px;
    width: 350px;
    border-radius: 10px;
  }
  
  #result-container {
    background-color: #243119;
    height: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 5px 10px 10px;
    /* Flex used to position the span and button elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #clipboard {
    font-size: 20px;
  }
  
  #generate {
    font-size: 16px;
    width: 100%;
    text-transform: uppercase;
  }